*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background: lightblue url("https://i.lensdump.com/i/jjVwD2.png") repeat
.row
  margin-right: -0px
.image-wrapper
  overflow:hidden




